@import url(https://fonts.googleapis.com/css?family=Oswald);

html{
  font-family: Oswald;
}

/* Nav Bar Formatting */
header{
	background: #00795F;
	width: 100%;
	padding: 40px 0;
	color: white;
	text-align: center;
}
nav ul{
	background-color: #43A286;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li{
	display: inline-block;
	padding: 20px;
}
nav ul li:hover{
	background-color: #399077
}
a{
	text-decoration: none;
	color: inherit;
}
section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	margin: 0 auto;
	max-width: 960px;
}
footer{
	text-align: center;
	width: 100%;
	font-size: 0.8em;
	padding-bottom: 30px;
}
.handle {
	width: 100%;
	background-color: #005C48;
	box-sizing: border-box;
	padding: 15px;
	cursor: pointer;
	color: white;
	display: none;
}
p.menu{
	display: inline-block;
}
.menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}
.menu_icon{
	float: right;
	margin: .5em 0;
}
@media screen and (max-width: 620px){
	nav ul{
		max-height: 0px;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
	.showing{
		max-height: 20em; 
	}
	.handle{
		display: block;
	}
	header h1{
		font-size: 3em;
	}
}


/* Dropdown Formatting */

div.checkbox_select
{
  width: 200px;
  text-align: center;
}

.checkbox_select_anchor
{
  display: block;
  background: #00795F;
  color: white;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
}

.checkbox_select_anchor:after
{
  width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid darkred;
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
}

.expanded .checkbox_select_anchor:after
{
	border-top: 0;
	border-bottom: 10px solid firebrick;
}


.checkbox_select_anchor:hover
{
  background: #399077 !important;
}

div.checkbox_select .select_input
{
    width: 100%;
    cursor: pointer;
}

.checkbox_select_dropdown
{
    display: none;
    background: whitesmoke;
}

.checkbox_select_dropdown.show
{
    display: block;
}

.checkbox_select_dropdown ul
{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    border: 1px solid #999;
    border-top: 0;
    border-bottom: 0;
}
.checkbox_select_dropdown ul li
{
    list-style: none;
    position: relative;
    color: #666;
}
.checkbox_select_dropdown ul li label
{
  position: relative;
      padding: 10px 5px 5px 40px;
     display: block;
  cursor: pointer;
}
.checkbox_select_dropdown ul li label:hover
{
  background: #399077;
  color: white;
}
.checkbox_select_dropdown ul li input:checked + label
{
  background: #399077;
  color: white;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.checkbox_select_dropdown ul li input
{
  position: absolute;
  left:0;
  z-index:1;
  display: inline-block;
  height: 100%;
  width: 30px;
}
.checkbox_select_search
{
    width: 200px;
    padding: 10px 5px 5px;
    border: 1px solid #999;
      border-top: 0;
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.checkbox_select_submit
{
    background: #00795F;
    color: white;
    padding: 10px 5px 5px;
    border: 0;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    font-family: Oswald;
}

.hide
{
    display: none;
}

div.wrapper
{
    display: block;
    text-align: center;
}
#make_checkbox_select
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}